@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --bg-color: #ffffff;
      --text-color: #000000;
    }
  
    .dark {
      --bg-color: #1a202c;
      --text-color: #cbd5e0;
    }
  
    body {
      background-color: var(--bg-color);
      color: var(--text-color);
    }
  
    a {
      color: var(--text-color);
    }
  }